.Etudiant{
	display: flex;
	.Etudiant-container{
		
		flex: 6;
		.title{
			font-size: 24px;
			font-weight: 300;
			margin-left: 17px;
		}
		.search{
			width: 85%;
			margin-left: 15px;
			font-size: 18px;
			font-weight: 200;
			outline: 0;
			border-width: 0 0 2px;
			border-color: #00926E;
			background-color: transparent;
			margin-right: 10px;
			margin-bottom: 20px;
		}
		button{
			height: 37px;
			text-transform: none;
		}
		#list {
			font-family: Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
			overflow-y: auto;
			height: 500px;
			display: block;
			margin: 13px;
		  }
		  
		  #list td, #list th {
			border: 1px solid #ddd;
			padding: 8px;
		  }
		  #Cin{
			  width:  200px;
		  }
		  #Nom{
			width:  300px;
		  }
			#Prenom{
				width:  300px;
			}
			#Tel{
				width:  300px;
			}
			#Email{
				width:  350px;
			}

		  
		  #list tr:nth-child(even){background-color: #f2f2f2;}
		  
		  #list tr:hover {background-color: #ddd;}
		  
		  #list th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #00926E;
			color: white;
		  }
		  .content{
			  width: 98%;
			  margin: auto;
			  background-color: white;
			  padding-bottom: 12px;

		  }
		  .content h3{
			  font-size: 18px;
			  font-weight: 200;
			  padding: 10px;
			  background-color: #00926E;
			  color: white;
		  }
		  .section{
			  display: flex;
			  margin: 15px;
		  }
		
		  .section  label{
			  flex: 1;
			  text-align: left;
			  padding: 6px;
			  text-align: center;

		  }
		  .section  input , select{
			flex: 1;
			border: none;
			border: solid 1px  #00926E; 
			outline: none;
			font-size: 18px;
		 }
		 .section  input:focus{
			flex: 1;
		 }
	
		 

		 
	
	}
	
}

